{{ define "chat" }}
  <div class="chat-header">
    Chat with: {{ .With }}
  </div>
  <div class="chat-body" id="chat-body" hx-get="/chat/unread?user_id={{ .With }}" hx-target="#chat-body" hx-trigger="every 1s" hx-swap="beforeend">
    {{ range .Messages }}
      {{ template "message" . }}
    {{ end }}
  </div>
  <div class="chat-input">
    <form hx-post="/chat/send" hx-target="#chat-body" hx-swap="beforeend">
      <input type="hidden" name="to_id" value="{{ .With }}">
      <textarea name="content" ></textarea>
      <button type="submit">Отправить</button>
    </form>
  </div>
{{ end }}
