{{ define "message" }}
    {{if .IsMine }}
            <div class="message-out">[{{ fmtTime .Time "15:04" }}] {{ .Text }}</div>
    {{else}}
            <div class="message-in">[{{ fmtTime .Time "15:04" }}] {{ .Text }}</div>
    {{end}}
{{ end }}
